In [7]:
!pip install pymysql

Requirement already satisfied: pymysql in /usr/local/lib/python3.10/dist-packages (1.1.1)

In [6]:
import pymysql
import getpass
import pandas as pd

In [14]:
connection = pymysql.connect(
    host='appstate-cs3430.mysql.database.azure.com',
    user='foutscm',
    passwd=getpass.getpass('Please type your password: '),
    db='foutscm',
    port=3306
)

cursor = connection.cursor()

Please type your password: ··········

In [24]:
sql = """
CREATE TABLE exams (
    gender VARCHAR(7),
    race_ethnicity VARCHAR(10),
    parental_level_of_education VARCHAR(50),
    lunch VARCHAR(20),
    test_preparation_course VARCHAR(20),
    math_score INT,
    reading_score INT,
    writing_score INT
);
"""

cursor.execute(sql)

DataFrame = pd.read_csv("/exams.csv")
list = DataFrame.values.tolist()

cursor.executemany('INSERT INTO exams VALUES (%s, %s, %s, %s, %s, %s, %s, %s);', list)

connection.commit()

In [25]:
sql_query = """
SELECT
    gender,
    race_ethnicity,
    AVG(math_score) AS avg_math_score,
    AVG(reading_score) AS avg_reading_score,
    AVG(writing_score) AS avg_writing_score
FROM
    exams
GROUP BY
    gender,
    race_ethnicity
ORDER BY
    race_ethnicity,
    gender;
"""

cursor.execute(sql_query)

DataFrameFinal = pd.read_sql(sql_query, connection)
DataFrameFinal.to_csv("/finaldf.csv")

connection.commit()

<ipython-input-25-22d564522d37>:20: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  DataFrameFinal = pd.read_sql(sql_query, connection)

In [23]:
sql_drop= """
drop table if exists exams;
"""

cursor.execute(sql_drop)

0